@charset "UTF-8";

/*设置通用字体*/
body
{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

.logo
{
	padding: 0px;
}

#myCarousel
{
	margin: 50px 0 0 0;
}

#navbar-collapse ul
{
	margin-top: 0px;
}

.carousel-inner img
{
	margin: 0 auto;
	width: 1080px;
	height: auto;
}

.carousel-control
{
	font-size: 32px;
}


.tab-h2
{
	font-size: 20px;
	color: #0059B2;
	text-align: center;
	letter-spacing: 1px;
}

.tab-p
{
	font-size: 15px;
	color: #999;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 0 40px 0;
}

.tab1
{
	margin: 30px 0;
	color: #666;
}

.tab1 .media-heading
{
	margin: 5px 0 15px 0;
}

.row .col
{
	padding: 20px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width:768px) {
	.tab-h2
	{
		font-size: 26px;
	}
	.tab-p {
		font-size: 16px;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
	.tab-h2
	{
		font-size: 28px;
	}
	.tab-p {
		font-size: 17px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.tab-h2
	{
		font-size: 30px;
	}
	.tab-p {
		font-size: 18px;
	}
}
