@charset "UTF-8";

/*设置通用字体*/
body
{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

.logo
{
	padding: 0px;
}

#myCarousel
{
	margin: 50px 0 0 0;
}

#navbar-collapse ul
{
	margin-top: 0px;
}

.carousel-inner img
{
	margin: 0 auto;
	width: 1080px;
	height: auto;
}

.carousel-control
{
	font-size: 32px;
}


.tab-h2
{
	font-size: 20px;
	color: #0059B2;
	text-align: center;
	letter-spacing: 1px;
}

.tab-p
{
	font-size: 15px;
	color: #999;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 0 40px 0;
}

.tab1
{
	margin: 30px 0;
	color: #666;
}

.tab1 .media-heading
{
	margin: 5px 0 15px 0;
}

.row .col
{
	padding: 20px;
}

.media-icon
{
	width: 100px;
	height: 100px;
}

.tab2
{
	background-color: #eee;
	padding: 60px 20px;
	text-align: center;
}

.tab3
{
	padding: 60px 0px;
	text-align: center;
}

.text h3
{
	font-size: 20px;
}

.text p
{
	font-size: 14px;
}

.tab2 img
{
	/*width: 50%;
	height: : 50%;*/
}

.tab3 img
{
	/*width: 65%;
	height: : 65%;*/
}

.case
{
	padding: 40px 0;
 	background-color: #eee;
	text-align: center;
}

.case h4
{
	color: #666;
}

.case p
{
	color: #666;
	line-height: 1.6;
}

.thumbnail
{
	padding: 0px;
}

.about
{
	background-color: #eee;
	padding: 40px 0;
}

.about a
{
	color: #0059b2;
}

.about #about
{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}

#about h3
{
	color: #333;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}

#about p
{
	line-height: 2;
	font-size: 13px;
}

#footer
{
	background-color: #3c3c3c;
	color: #eee;
}

.jumbotron
{
	margin: 50px 0 0 0;
	padding: 60px 0;
	background-image: url(../img/jumbotron.jpg);
	color: #ccc;
}

.jumbotron h1 {
	font-size: 26px;
	padding: 0 0 0 20px;
}
.jumbotron h4 {
	font-size: 16px;
	padding: 0 0 0 20px;
}

#information
{
	background-color: #f1eee7;
	padding: 40px 0;
}

.info-content
{
	background: #fff;
	margin: 0px 0px 20px 0px;
	box-shadow: 2px 2px 3px #ccc;
}

.info-content img
{
	margin: 12px 0;
}

.info-content h4
{
	color: #333;
	padding: 10px 0 0 0;
	font-size: 16px;
}

.info-content p
{
	line-height: 1.6;
}

.info-right
{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}

.info-right blockquote
{
	margin: 0px;
	padding: 0px;
}

.info-right h2
{
	font-size: 20px;
	color: #333;
	padding: 5px;
}

.info-right h4
{
	color: #333;
	font-size: 16px;
	/*padding-top: 10px;*/


}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width:768px) {
	.tab-h2
	{
		font-size: 26px;
	}
	.tab-p {
		font-size: 16px;
	}
	.text h3
	{
		font-size: 22px;
	}

	.text p
	{
		font-size: 15px;
	}
	.tab2-text {
		float: left;
	}
	.tab2-img {
		float: right;
	}
	.jumbotron h1
	{
		font-size: 30px;
	}

	.jumbotron h4
	{
		font-size: 16px;
	}

	.info-content h4
	{
		font-size: 16px;
	}

	#about h3
	{
		font-size: 19px;
	}

	#about p
	{
		font-size: 14px;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
	.tab-h2
	{
		font-size: 28px;
	}
	.tab-p {
		font-size: 17px;
	}
	.text h3
	{
		font-size: 24px;
	}
	.text p
	{
		font-size: 16px;
	}
	.jumbotron h1
	{
		font-size: 32px;
	}

	.jumbotron h4
	{
		font-size: 17px;
	}

	.info-content h4
	{
		font-size: 18px;
	}

	#about h3
	{
		font-size: 20px;
	}

	#about p
	{
		font-size: 15px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.tab-h2
	{
		font-size: 30px;
	}
	.tab-p {
		font-size: 18px;
	}
	.text h3
	{
		font-size: 26px;
	}
	.text p
	{
		font-size: 18px;
	}

	.jumbotron h1
	{
		font-size: 36px;
	}

	.jumbotron h4
	{
		font-size: 18px;
	}

	.info-content h4
	{
		font-size: 20px;
	}

	#about h3
	{
		font-size: 22px;
	}

	#about p
	{
		font-size: 16px;
	}

}
